@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,900|Exo:100,200,300,400,500,600,700');

/*---Navbar Overlay---*/

body{
  font-family: Roboto, sans-serif;
  margin: 0px;
  padding: 0px;
}

/*---Header---*/

.header{
    background-color:rgb(109, 189, 174);
}

.header-name{
    font-weight:700;
    font-size: 35px;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
    padding-top:1rem;
    margin-bottom:0.7rem;
}

.header-role{
    font-weight:700;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom:0px;
    color: rgb(64, 64, 64);
}

/*---Navbar---*/

.navbar-font a{
    font-weight:700;
    font-size: 15px;
    color: rgb(255, 255, 255) !important;
    letter-spacing: 2px;
}

/*---Navbar Color---*/

.navbar-color{
    background-color:rgb(109, 189, 174);
}

/*---Navbar Boxes---*/

.home-box{
    background-color:rgb(174,106,188);
}

.resume-box{
    background-color:rgb(188,174,106);
}

.contact-box{
    background-color:rgb(106,188,133);
}

.interests-box{
   background-color:rgb(106,161,188);
}

.github-box{
   background-color:rgb(106,120,188);
}

/*---Navbar Overlay---*/

.menu-icon{
    color:rgb(255, 255, 255);
    font-size: 40px;
    cursor: pointer;
    background-color:rgb(109, 189, 174);
}

.menu-container{
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: rgba(64, 64, 64, 1);
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.menu-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu-content a{
  padding: 16px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  font-family: sans-serif;
  transition: .3s ease-in-out;
  font-weight:700;
}

.menu-content a:hover{
  background-color: #1b998b;
}

.menu-container .closebtn{
  position: absolute;
  top: 36px;
  right: 48px;
  font-size: 30px;
  color: white;
  z-index: 1;
  cursor: pointer;
}

/*---Section---*/

.section-font{
    font-weight:700 !important;
    font-size: 25px !important;
    letter-spacing: 3px !important;
    color: rgb(107, 189, 174);;
}

.section-border{
    border-right-color:rgb(109, 189, 174);
    border-right-style: solid;
}

.section-title-padding{
    padding-top:3px;
}

.section-content{
    letter-spacing: 1px;
    text-align:justify;
    color: rgb(64, 64, 64);
}

.work-title{
    font-weight:700;
    font-size: 20px;
    margin-bottom:0px;
    padding-left:0px;
    color: rgb(64, 64, 64);
    text-decoration:none !important;
}

/*---Navbar Boxes---*/

.fa-home .fa-graduation-cap .fa-commenting-o .fa-users .fa-github{
    color: rgb(255, 255, 255);
}

/*---Hover---*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
}

/*---Block---*/

.block{
    height:40px;
}

/*---Footer---*/

footer{
    background-color:rgb(109, 189, 174);
    color: #fafafa;
    min-height: 100px;
    margin: 0;
}

/*---Font Awesome Icons---*/

.fa-download{
        color:rgb(109, 189, 174);
}

.fa-download:hover{
        color:rgb(109, 189, 174, 0.6);
}


/*---Media Queries---*/

@media(min-width: 991px) {
    .header-name{
        font-weight:700;
        font-size: 45px;
        letter-spacing: 3px;
        color: rgb(255, 255, 255);
        padding-top:3rem;
        }

    .header-role{
        font-weight:700;
        font-size: 20px;
        letter-spacing: 2px;
        color: rgb(64, 64, 64);
        margin-bottom:1rem;
        }
}